/* Preload the Roboto font in various weights and styles to make sure it is available to render the page correctly */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Styling to position ASU links in the top right and collapse to a menu for mobile browsing */
/* Push announcements and notifications below the header links */
div#dashboard.ic-dashboard-app {
  margin-top: 0px;
}
/* Mobile styling */
/* Ensure that the open/close button does not overlap with other elements */
.asuHeaderPadding {
  min-height: 15px;
  display: inline;
  position: relative;
}
/* Remove extra space above and below header */
div#custom-asu-header-links {
  height: 0px;
}
/* Make the icons bold when hovering */
div#custom-asu-header-links:hover::before {
  font-weight: bold;
}
/* Position mobile header to the right */
button#mobile-custom-asu-header-links {
  float: right;
}
/* Remove bullet points, position menu items, and set up transition effects */
#custom-asu-header-ul {
  list-style-type: none;
  top: -15px;
  position: relative;
  right: 30px;
  transform-origin: top;
  transition: transform 0.3s;
  width: 150px;
  float: right;
}
/* Collapse without animation to avoid the animation coming up an inappropriate times (when resizing the window) */
#custom-asu-header-ul.closed {
  transform: scaleY(0);
  transition: transform 0s;
}
/* Expand and ensure that the list is in front of other elements */
#custom-asu-header-ul.opened {
  transform: scaleY(1);
  z-index: 11;
}
/* Make all menu buttons the same width */
#custom-asu-header-ul li a {
  width: 100%;
}
/* End Mobile styling */
/* Desktop styling */
@media only screen and (min-width: 768px) {
  /* Hide padding to save screen space */
  .asuHeaderPadding {
    min-height: 0px;
    position: relative;
  }
  /* Position the list in the upper right corner of the page, and make sure it is in front of other elements */
  #custom-asu-header-ul {
    list-style-type: none;
    display: inline !important;
    top: 0px;
    right: 10px;
    padding: 0px 5px;
    transform: scaleY(1) !important; /* Make sure it has a height */
    z-index: 11 !important;
    transition: transform 0s;
    position: absolute;
    width: auto;
  }
  /* Arrange links in a single row */
  #custom-asu-header-ul li {
    display: inline-block !important;
    width: auto;
  }
  /* Disable .Button styling on header links */
  #custom-asu-header-ul li a {
    background: transparent !important;
    color: var(--ic-brand-font-color-dark-lightened-15) !important;
    border-color: transparent !important;
    padding: 0 !important;
    text-decoration: underline !important;
    margin-left: 12px;
    font-size: 14px;
  }
  /* Set hover style for header links to counterract .Button style */
  #custom-asu-header-ul li a:hover {
    color: var(--ic-link-color-darkened-10) !important;
  }
  /* Hide open/close icon */
  div#custom-asu-header-links::before {
    display: none;
  }
}
/* End Desktop styling */
/* End Header styling */
/* Default font to Roboto globally */
html {
  font-family: 'Roboto', sans-serif;
}
/* Fix Chrome margin issue on Apps (MediaAMP) embed 6-21-18 - May be fixed by Instructure 8-23-18 */
#external_tool_button_form {
  margin: 0 0 0;
}
/* Hide harmful things 
, table.coursesettings #course_course_code, table.coursesettings label[for='course_course_code'], select#course_course_visibility option[value='public'], */
.copy_course_link,
#right-side > div > a.Button[href$='event=conclude'] {
  display: none;
}
/* Hide cross-list, create new course buttons, public index, and root level grading standards */
a.crosslist_link,
#start_new_course,
button[aria-label='Create new course'],
div.public_options,
a[href='/accounts/1/grading_standards'] {
  display: none !important;
}
/* Threaded Discussions */
.replies {
  padding-left: 0px;
  border-left: solid #f2f2f2 16px;
}

.discussion-read-state-btn {
  top: 32px;
  left: -25px !important;
}

div.entry-content {
  padding-left: 0px !important;
}
/* End Threaded Discussions */
/* Quick Student View and Immersive Reader buttos are too close to our header links, this moves their parent down to be centered vertically */
div.right-of-crumbs {
  margin-top: 15px;
}

/* Custom ASU Styes */
/* Based on unity design https://unity.web.asu.edu/ */
.custom-asu-background-image-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.custom-asu-unity-highlight-gold {
  box-shadow: -0.15em 0 0 #ffc627, 0.15em 0 0 #ffc627;
  background: #ffc627;
  color: #191919;
}

.custom-asu-unity-highlight-black {
  box-shadow: -0.15em 0 0 #191919, 0.15em 0 0 #191919;
  background: #191919;
  color: #fafafa;
}

.custom-asu-unity-highlight-white {
  box-shadow: -0.15em 0 0 #fafafa, 0.15em 0 0 #fafafa;
  background: #fafafa;
  color: #191919;
}

.custom-asu-unity-highlight-maroon {
  box-shadow: -0.15em 0 0 #fafafa, 0.15em 0 0 #fafafa;
  background: #8c1d40;
  color: #fafafa;
}

.custom-asu-class-pill {
  color: #8c1d40;
  background: #ececec;
  padding: 5px;
  border-radius: 25px;
  margin-right: 5px;
  white-space: nowrap;
  line-height: 40px;
}

/* Styling for navigation bar */
.custom-asu-header-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}

/* Styling for list */
.custom-asu-header-nav .navlist {
  list-style: none;
  display: flex;
  margin: 0px;
  padding: 0px;
  align-items: flex-end;
}

.custom-asu-header-nav ul {
  list-style: none;
}

/* Remove text decoration for links */
.custom-asu-header-nav ul a {
  text-decoration: none !important;
}

.custom-asu-header-nav .navlist a {
  text-decoration: none !important;
}

/* set position for the list items */
.custom-asu-header-nav .navlist > li {
  position: relative;
  padding: 0px;
  border: 0px;
  margin-right: 0.5rem;
}

/* override links color */
.custom-asu-header-nav .navlist > li > a {
  display: block;
  padding: 0.5rem 0.75rem;
  color: rgb(25, 25, 25);
  width: 100%;
}

/* override(disable) text decoration on hover, link, active or visited for <a>*/
.custom-asu-card-foldable .custom-asu-card-header h4 a,
.custom-asu-card-foldable .custom-asu-card-header h5 a,
.custom-asu-tabbed-panels .custom-asu-nav-tabs .custom-asu-nav-link.active,
.custom-asu-tabbed-panels .custom-asu-nav-tabs .custom-asu-nav-link,
.custom-asu-nav-tabs .custom-asu-nav-link.active,
.custom-asu-nav-tabs .custom-asu-nav-item.show .custom-asu-nav-link,
.custom-asu-nav-tabs .custom-asu-nav-link,
.custom-asu-header-nav .navlist > li > a:hover,
.custom-asu-header-nav .navlist > li > a:visited,
.custom-asu-header-nav .navlist > li > a:link,
.custom-asu-header-nav .navlist > li > a:active {
  text-decoration: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/* make selected item of same width */
.custom-asu-header-nav .navlist > li > a.nav-item-selected::after {
  width: 100%;
}

/* set transition effect and position */
.custom-asu-header-nav .navlist > li > a::after {
  transition: all 0.5s cubic-bezier(0.19, 1, 0.19, 1) 0s;
  content: '';
  display: block;
  height: 0.5rem;
  background-image: linear-gradient(
    to right,
    transparent 0.5%,
    rgb(255, 198, 39) 0.5%
  );
  position: relative;
  bottom: 0px;
  width: 0px;
  margin-left: 0px;
  top: 0.5rem;
}

/* Desktop Styling */
@media (min-width: 993px) {
  .custom-asu-header-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
  }
}

@media (min-width: 993px) {
  .custom-asu-header-nav .navlist > li {
    position: static;
  }
}

/* set width after hover and item selected */
@media (min-width: 993px) {
  .custom-asu-header-nav .navlist > li > a:hover::after,
  .custom-asu-header-nav .navlist > li > a.nav-item-selected::after {
    width: calc(100% + 24px);
    margin-left: 0px;
  }
}

@media (min-width: 993px) {
  .custom-asu-header-nav .navlist > li > a::after {
    transition: all 0.5s cubic-bezier(0.19, 1, 0.19, 1) 0s;
    content: '';
    display: block;
    height: 0.5rem;
    position: relative;
    top: 0.5rem;
    bottom: 0px;
    width: 0px;
    left: -0.75rem;
    margin-left: 0px;
  }
}
/* End Desktop Styling */
/* End navigation bar styling */

/* Styling for accordion */
.custom-asu-accordion {
  overflow-anchor: none;
}

.custom-asu-accordion .custom-asu-card.custom-asu-card-foldable {
  border-bottom: 1px solid #d0d0d0;
  border-color: #d0d0d0;
  height: auto;
}

.custom-asu-accordion .custom-asu-card.custom-asu-card-foldable.card-gold {
  border-left: 0.5rem solid #ffc627;
}

.custom-asu-accordion .custom-asu-card.custom-asu-card-foldable.card-maroon {
  border-left: 0.5rem solid #8c1d40;
}

.custom-asu-accordion .custom-asu-card.custom-asu-card-foldable.card-gray {
  border-left: 0.5rem solid #bfbfbf;
}

.custom-asu-accordion .custom-asu-card.custom-asu-card-foldable.card-dark {
  border-left: 0.5rem solid #191919;
}

.custom-asu-accordion > .custom-asu-card:not(:last-of-type) {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.custom-asu-accordion > .custom-asu-card {
  overflow: hidden;
}

.custom-asu-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0;
}

.custom-asu-mt-3,
#custom-asu-my-3 {
  margin-top: 1.5rem !important;
}

.custom-asu-accordion > .custom-asu-card > .custom-asu-card-header {
  border-radius: 0;
  margin-bottom: -1px;
}

.custom-asu-card-foldable .custom-card-header {
  padding: 0.5rem;
}

.custom-asu-card-header:first-child {
  border-radius: 0 0 0 0;
}

.custom-asu-card-header {
  padding: 32px 32px 16px 32px;
  flex-grow: 1;
  background-color: rgba(255, 255, 255, 0.03);
}

.custom-asu-card-foldable .custom-asu-card-header h4,
.custom-asu-card-foldable .custom-asu-card-header h5 {
  margin: -22px;
  letter-spacing: -0.025em;
  font-weight: 700;
  line-height: calc(100% + 0.12em);
  font-size: 1.25rem;
}

.custom-asu-card-foldable .custom-asu-card-header h4 a,
.custom-asu-card-foldable .custom-asu-card-header h5 a {
  padding: 0.5rem 1.5rem;
  margin-bottom: 16px;
  color: #191919;
  text-decoration: none !important;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.custom-asu-card-foldable .custom-asu-card-header + .custom-asu-card-body {
  border-top: 1px solid #d0d0d0;
}

.custom-asu-card > div:last-child {
  padding-bottom: 32px;
}

.custom-asu-card-foldable .custom-asu-card-body {
  background-color: #fafafa;
}

.custom-asu-card-body {
  padding: 0 32px 24px 32px;
  flex-grow: 100;
  display: none;
}

.custom-asu-card-body.show {
  display: block !important;
}
/* End styling for accordion */

/* Styling for tabbed panels */
.custom-asu-tabbed-panels {
  box-shadow: inset 0px -2px 0px 0px #bfbfbf;
  flex-wrap: inherit;
  overflow: hidden;
  position: relative;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
}

.custom-asu-nav-tabs {
  border-bottom: 0 solid #000;
}

.custom-asu-nav-link {
  display: block;
}

.custom-asu-nav-tabs.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.custom-asu-tabbed-panels .custom-asu-nav-tabs .custom-asu-nav-link.active {
  background-color: transparent;
  border-bottom: 8px solid #8c1d40;
}

.custom-asu-tabbed-panels .custom-asu-nav-tabs .custom-asu-nav-link {
  color: #000;
  padding: 0.25em 1em;
  border-right: 0;
  border-left: 0;
  border-top: 0;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
}

.custom-asu-nav-tabs .custom-asu-nav-link.active,
.custom-asu-nav-tabs .custom-asu-nav-item.show .custom-asu-nav-link {
  color: #8c1d40;
  background-color: #fff;
  border-color: #8c1d40;
}

.custom-asu-nav-tabs .custom-asu-nav-link {
  margin-bottom: 0;
  border: 0 solid transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.custom-asu-tab-content {
  padding: 32px 0px;
}

.custom-asu-tab-content > .custom-asu-tab-pane {
  display: none;
}

.custom-asu-tab-content > .active {
  display: block;
}
/* End Custom Tabbed Pannels styling*/

/* Styling for Degree Card */
.custom-asu-grid-row-gap {
  grid-row-gap: 25px !important;
}

.custom-asu-equal-height-col {
  flex-direction: row;
}

.custom-asu-degree-card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0;
}

.custom-asu-degree-card-img-top img,
.custom-asu-degree-card-img-top {
  max-width: 100% !important;
  height: 12.5rem;
  object-fit: cover;
}

.custom-asu-degree-card-img,
.custom-asu-degree-card-img-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.custom-asu-degree-card-img,
.custom-asu-degree-card-img-top,
.custom-asu-degree-card-img-bottom {
  flex-shrink: 0;
  width: 100%;
}

.custom-asu-degree-card-header {
  margin-bottom: 0;
  background-color: rgba(255, 255, 255, 0.03);
  border-bottom: 0;
  padding: 32px 32px 16px 32px;
}

.custom-asu-degree-card-header .custom-asu-degree-card-title {
  margin: 0;
  font-size: 1.5rem;
  letter-spacing: -0.035em;
  font-weight: 700;
  text-align: left;
  opacity: 1;
  line-height: calc(100% + 0.12em);
}

.custom-asu-degree-card
  .custom-asu-degree-card-header
  .custom-asu-degree-card-title:after {
  content: '';
  width: 2rem;
  height: 0.25rem;
  display: block;
  background-color: #ffc627;
  margin-top: 1rem;
}

.custom-asu-degree-card-body {
  padding: 0 32px 24px 32px;
  flex-grow: 100;
  flex: 1 1 auto;
  min-height: 1px;
}

.custom-asu-degree-card-text:last-child {
  margin-bottom: 0;
}

.custom-asu-degree-card-button {
  margin-top: auto;
  padding: 0 32px 24px 32px;
}

.custom-asu-degree-card > div:last-child {
  padding-bottom: 32px;
}
/* End styling for Degree Card */

/* Styling for Event Card */
.custom-asu-event-card-header {
  border-top: solid 8px #ffc627;
}

.custom-asu-event-card-header .custom-asu-event-card-title {
  margin: 0;
  font-size: 1.5rem;
  letter-spacing: -0.035em;
  font-weight: 700;
  opacity: 1;
  padding: 32px 32px 24px 32px;
  line-height: calc(100% + 0.12em);
}
/* End styling for Event Card */

/* Custom buttons */
/* Custom button dark */
.custom-asu-btn-dark {
  color: #fff !important;
  background-color: #191919 !important;
  border-color: #191919 !important;
  display: inline-block;
  font-weight: bold;
  color: #191919;
  text-align: center;
  text-decoration: none !important;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 1rem 2rem;
  font-size: 1rem;
  line-height: 1rem;
  border-radius: 400rem;
  transition: 0.03s ease-in-out;
}

/* Custom button maroon */
.custom-asu-btn-maroon {
  color: #fff !important;
  background-color: #8c1d40 !important;
  border-color: #8c1d40 !important;
  display: inline-block;
  font-weight: bold;
  color: #191919;
  text-align: center;
  text-decoration: none !important;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 1rem 2rem;
  font-size: 1rem;
  line-height: 1rem;
  border-radius: 400rem;
  transition: 0.03s ease-in-out;
}

/* Custom button gray */
.custom-asu-btn-gray {
  color: #fff !important;
  background-color: #bfbfbf !important;
  border-color: #bfbfbf !important;
  display: inline-block;
  font-weight: bold;
  color: #191919;
  text-align: center;
  text-decoration: none !important;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 1rem 2rem;
  font-size: 1rem;
  line-height: 1rem;
  border-radius: 400rem;
  transition: 0.03s ease-in-out;
}

/* Custom button gold */
.custom-asu-btn-gold {
  color: #fff !important;
  background-color: #ffc627 !important;
  border-color: #ffc627 !important;
  display: inline-block;
  font-weight: bold;
  color: #191919;
  text-align: center;
  text-decoration: none !important;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 1rem 2rem;
  font-size: 1rem;
  line-height: 1rem;
  border-radius: 400rem;
  transition: 0.03s ease-in-out;
}
/* End styling for custom buttons */

/* Styling for custom blockquotes with image */
@media (min-width: 600px) {
  .custom-asu-blockquote-with-image {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1.5rem;
    font-size: 1.25rem;
    font-weight: 700;
  }
}

.custom-asu-blockquote-with-image {
  gap: 2rem;
  text-align: center;
}

@media (min-width: 600px) {
  .custom-asu-blockquote-with-image img {
    max-width: 180px;
    height: auto;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    margin-left: 25px;
    width: 180px;
    height: 180px;
  }
}

.custom-asu-blockquote-with-image img {
  max-width: 180px;
  height: auto;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  margin-top: 7px;
  width: 180px;
  height: 180px;
}

@media (min-width: 600px) {
  .custom-asu-blockquote-with-image blockquote {
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
  }
}

.custom-asu-blockquote-with-image blockquote {
  grid-column: 2;
  border-left: none !important;
  font-weight: inherit !important;
  padding-left: 0 !important;
  max-width: none !important;
  margin: 0 0 1rem !important;
}

.custom-asu-blockquote-with-image blockquote p {
  font-weight: 700;
  margin-bottom: 1rem;
}

.custom-asu-blockquote-with-image blockquote p:first-of-type:before {
  content: '“' !important;
}

.custom-asu-blockquote-with-image blockquote p:last-of-type:after {
  content: '”' !important;
}

.custom-asu-blockquote-with-image .citation cite.name:before {
  padding-right: 0.5em;
  content: '—';
}

.custom-asu-blockquote-with-image .citation cite.name {
  font-weight: 700;
}

.custom-asu-blockquote-with-image .citation cite {
  display: block;
  font-size: 1rem;
  font-style: normal;
}

.custom-asu-blockquote-with-image .citation cite.description {
  font-weight: 400;
  padding-left: 1.5rem;
}

/* Background gray blockquotes with image on right */
.custom-asu-blockquote-background-gray {
  background-color: #e8e8e8;
  padding: 3rem !important;
}

.custom-asu-blockquote.with-image.reversed img {
  grid-column: 2;
}

.custom-asu-blockquote-with-image.reversed blockquote {
  grid-column: 1;
  grid-row: 1;
}
/* End styling for custom blockquotes with image */

/* Styling for custom branded heroes small size */
@media only screen and (max-width: 576px) {
  .custom-asu-hero-sm {
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 8rem;
    display: flex;
    max-width: 1920px;
  }
}

.custom-asu-hero-sm {
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 16rem;
  display: flex;
  max-width: 1920px;
}

.custom-asu-hero-sm .custom-asu-hero-container {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto auto 2rem 1rem;
}

.custom-asu-hero-sm .custom-asu-hero-container h1 {
  margin-left: 0;
  margin-top: 0;
}
/* End styling for custom heroes small size */
/* End Unity design */

/* Styling for custom alert for manual student adds */
.custom-asu-alert-content {
  width: 100%;
  height: 43%;
  position: absolute;
  left: 0;
  top: 80px;
  background: black;
  z-index: 9;
}

@media only screen and (min-width: 768px) {
  .custom-asu-alert-content {
    height: 38%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 80px;
    background: black;
    z-index: 9;
  }
}
/* End styling for custom alert for manual student adds */
